.burger {
  position: absolute;
  background: rgba(246, 246, 246, 0.99);
  transform: translateY(-812px);
  transition: .4s;
  z-index: 2;
  width: 100%;
  height: 812px;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 20px;
  }

  &__open {
    transform: translateY(0);
    transition: .4s;
  }

  &__btn {
    display: none;

    @media (max-width: 768px) {
      background-image: url(/img/icon/Menu.svg);
      display: block;
      position: absolute;
      width: 32px;
      height: 20px;
      border: none;
      background-color: none;
      cursor: pointer;
      top: 175px;
      right: 11%;
    }

    &--close {
      background: none;
      background-image: url(/img/icon/Close.svg);
      width: 25px;
      height: 25px;
      margin-bottom: 186px;
      margin-top: 50px;
      border: none;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__link {
    color: #828282;

    &:hover {
      color: #070707;
    }
  }

  &__item {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 40px;

    &--active {
      color: #070707;
    }

    &--btn {
      border: 0;
      background: none;
      color: #828282;

      &:hover {
        color: #070707;
      }
    }
  }
}

.burgerOpen {
  display: none;

    @media (max-width: 768px) {
      background-image: url(/img/icon/Menu.svg);
      display: block;
      position: absolute;
      width: 32px;
      height: 20px;
      border: none;
      background-color: none;
      cursor: pointer;
      top: 175px;
      right: 11%;
    }
}

.burgerOpenProfile {
  display: none;

  @media (max-width: 768px) {
    background-image: url(/img/icon/Menu.svg);
    display: block;
    position: absolute;
    width: 32px;
    height: 20px;
    border: none;
    background-color: none;
    cursor: pointer;
    top: 50px;
    right: 11%;
  }
}

.burgerOpenBlog {
 display: none;

  @media (max-width: 768px) {
    background-image: url(/img/icon/Menu.svg);
    display: block;
    position: absolute;
    width: 32px;
    height: 20px;
    border: none;
    background-color: none;
    cursor: pointer;
    top: 50px;
    right: 11%;
  }
}
