.blog {


  &__title {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 47px;
    line-height: 57px;
    color: #070707;
    margin: 0;
    margin-bottom: 40px;
  }
}

.filter {
  flex-direction: column;
  display: flex;
  gap: 35px;

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1399px) {
      flex-wrap: wrap;
    }
  }

  &__fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
  }

  &__legend {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #070707;
  }

  &__label {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #070707;
    margin-top: 10px;
  }

  &__btn {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    background-color: #fff;
    border: 2.5px solid #070707;
    border-radius: 30px;
    height: 42px;
    padding: 8px 17px;
    cursor: pointer;

    &:hover {
      border: 2.5px solid #828282;
      color: #828282;
    }

    &--margin {
      margin-top: 40px;
    }
  }

  &__input {
    margin-top: 10px;

    &--radio {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
      }

      &+label::before {
        content: '';
        width: 25px;
        height: 25px;
        background-image: url(/img/icon/radio.svg);
        margin-right: 12px;
        cursor: pointer;
      }

      &:checked+label::before {
        background-image: url(/img/icon/radio_active.svg);
      }
    }

    &--checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
      }

      &+label::before {
        content: '';
        width: 25px;
        height: 25px;
        background-image: url(/img/icon/checkbox.svg);
        margin-right: 12px;
        cursor: pointer;
      }

      &:checked+label::before {
        background-image: url(/img/icon/checkbox_active.svg);
      }
    }
  }

  &__input--search {
    border: 2.5px solid #E5E5E5;
    width: 873px;
    height: 50px;

    @media (max-width: 1399px) {
      width: 521px;
    }

    @media (max-width: 767px) {
      width: 280px;
    }
  }
}
