.blog {


  &__title {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 47px;
    line-height: 57px;
    color: #070707;
    margin: 0;
    margin-bottom: 40px;

    @media (max-width: 767px) {
      margin-top: 30px;
    }
  }
}

.filter {
  flex-direction: column;
  display: flex;
  gap: 35px;
  margin-bottom: 20px;

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1399px) {
      flex-wrap: wrap;
    }

    @media (max-width: 767px) {
      justify-content: start;
      column-gap: 27px;
    }

    &--two {
      @media (max-width: 767px) {
        justify-content: end;
      }
    }

    &--one {
      @media (max-width: 767px) {
        flex-direction: row-reverse;
      }
    }
  }

  &__fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
  }

  &__legend {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #070707;
  }

  &__show {
    margin-left: -6px;
  }

  &__label {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #070707;
    margin-top: 10px;
  }

  &__btn {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    background-color: #fff;
    border: 2.5px solid #070707;
    border-radius: 30px;
    height: 42px;
    padding: 8px 17px;
    cursor: pointer;

    @media (max-width: 767px) {
      margin-top: 20px;
    }

    &:hover {
      border: 2.5px solid #828282;
      color: #828282;
    }

    &--reset {
      @media (max-width: 767px) {
        margin-left: 145px;
      }
    }

    &--margin {
      margin-top: 40px;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    width: 115px;
    gap: 5px;
  }

  &__tag {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  }

  &__tag .filter__span:after {
    left: 5px;
    top: 0;
    width: 10px;
    height: 16px;
    border-style: solid;
    border-color: inherit;
    border-width: 0 3px 3px 0;
    border-radius: 1px;
    transform: rotate(35deg);
  }

  &__input--tags {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .filter__span:after {
      display: block;
    }
  }

  &__span {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-width: 2.5px;
    border-style: solid;
    border-radius: 5px;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  &__input {
    margin-top: 10px;

    &--radio {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
      }

      &+label::before {
        content: '';
        width: 25px;
        height: 25px;
        background-image: url(/img/icon/radio.svg);
        margin-right: 12px;
        cursor: pointer;
      }

      &:checked+label::before {
        background-image: url(/img/icon/radio_active.svg);
      }
    }

    &--checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
      }

      &+label::before {
        content: '';
        width: 25px;
        height: 25px;
        background-image: url(/img/icon/checkbox.svg);
        margin-right: 12px;
        cursor: pointer;
      }

      &:checked+label::before {
        background-image: url(/img/icon/checkbox_active.svg);
      }
    }

    &--tags {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
      }

      &+label::before {
        content: '';
        width: 25px;
        height: 25px;
        background-image: url(/img/icon/checkbox.svg);
        margin-right: 5px;
        cursor: pointer;
      }

      &:checked+label::before {
        background-image: url(/img/icon/checkbox_active.svg);
      }
    }
  }

  &__input--search {
    border: 2.5px solid #E5E5E5;
    width: 873px;
    height: 50px;

    @media (max-width: 1399px) {
      width: 521px;
    }

    @media (max-width: 767px) {
      width: 280px;
    }
  }
}

.full {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  z-index: 10;
}

.hidden {
  display: none;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: none;
  padding-top: 20px;
  border-top: 2px solid #E5E5E5;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  &__title {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #070707;
  }

  &__text {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #070707;
    margin-bottom: 20px;

    @media (max-width: 1399px) {
      width: 294px;
    }
  }

  &__tag {
    width: 30px;
    height: 10px;
    border-radius: 5px;
  }

  &__content {
    margin-top: 20px;
  }

  &__wrapper {
    display: flex;
    gap: 5px;
  }

  &__link {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    border-bottom: 1px dashed #070707;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &__info {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }

  &__subtitle {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
    margin-top: 10px;
  }
}

.sliderPosts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__number {
    display: flex;
    gap: 10px;
  }

  &__link {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #E5E5E5;

    &--active {
      color: #000000;
    }

    &:hover {
      text-decoration: none;
      color: #828282;
    }
  }
}

.position {
  @media (max-width: 767px) {
    position: absolute;
    top: 470px;
  }
}
