@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";
@import "fonts";
@import "blog";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/footer";
@import "_blocks/header";

/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/

.developer {
  display: flex;
  flex-wrap: wrap;
  align-items: end;

  &__title {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 47px;
    line-height: 57px;
    color: #070707;
    margin: 0;
    margin-right: 40px;
    margin-bottom: 36px;
    width: 235px;
  }

  &__subtitle {
    width: 210px;
    margin-bottom: 44px;
  }

  &__img {
    margin-bottom: 30px;
  }

  &__slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__btn--left {
    width: 42px;
    height: 42px;
    background: none;
    background-image: url(/img/icon/arrow_left.svg);
    border: 0;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &__btn--right {
    width: 42px;
    height: 42px;
    background: none;
    background-image: url(/img/icon/arrow_right.svg);
    border: 0;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &__span {
    width: 10px;
    height: 10px;
  }
}

.aboutMe {
  background: #F6F6F6;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    margin: 0;
    margin-bottom: 51px;
    color: #070707;
  }

  &__wrapper--one {
    background-image: url(/img/icon/frame1.svg);
    background-repeat: no-repeat;
    margin-bottom: 15px;
    height: 140px;
    width: 483px;
    margin-right: 100px;
  }

  &__wrapper--two {
    background-image: url(/img/icon/frame2.svg);
    background-repeat: no-repeat;
    margin-bottom: 15px;
    height: 119px;
    width: 483px;
    margin-left: 100px;
  }

  &__wrapper--three {
    background-image: url(/img/icon/frame3.svg);
    background-repeat: no-repeat;
    height: 119px;
    width: 483px;
    margin-right: 100px;
  }

  &__text {
      min-width: 448px;
      padding: 15px;
      margin: 0;
      font-family: 'Gilroy';
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #070707;
      text-align: start;
  }
}

.skills {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: #070707;
    margin: 0;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #070707;
    margin-bottom: 50px;
  }

  &__programs {
    display: flex;
    gap: 25px;
    justify-content: space-between;
  }

  &__program {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    margin-top: 20px;
    margin-bottom: 24px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  &__label {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
  }

  &__progress {
    border: 0;
    width: 142px;
    height: 9px;

    &::-webkit-progress-bar {
      background-color: #E5E5E5;
    }
    &::-webkit-progress-value {
      background-color: #070707;
    }
  }
}

.portfolio {
  background: #F6F6F6;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  &__title {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: #070707;
    margin: 0;
    margin-bottom: 50px;
  }

  &__wrapper {
    height: 604px;
  }

  &__btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-right: 15px;
    margin-left: 20px;
    top: -334px;

    &--left {
      border: 0;
      padding: 0;
      width: 50px;
      height: 60px;
      background: none;
      background-image: url(/img/icon/Arrow_left2.svg);
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }

    &--right {
      border: 0;
      padding: 0;
      width: 50px;
      height: 60px;
      background: none;
      background-image: url(/img/icon/Arrow_right2.svg);
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__fon {
    background: rgba(7, 7, 7, 0.85);
    padding-top: 31px;
    padding-bottom: 31px;
    position: relative;
    top: -210px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__site {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 16px;
    border-bottom: 1px dashed #FFFFFF;
    height: 22px;
  }

  &__desc {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    width: 400px;
    height: 50px;
  }
}

.signIn {
  display: none;
  gap: 10px;
  position: fixed;
  top: 225px;
  left: 37.8%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 100%;
    border: 2.5px solid #070707;
    padding: 37.5px;
    z-index: 1;
  }

  &__label {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #070707;
    margin-bottom: 6px;
  }

  &__input {
    width: 290px;
    height: 50px;
    border: 2.5px solid #E5E5E5;
    margin-bottom: 20px;
  }

  &__btn {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    border: 2.5px solid #070707;
    border-radius: 30px;
    padding: 7.5px 16.5px;
    width: 88px;
    margin-top: 10px;

    &:hover {
      color: #FFFFFF;
      border: 0;
      padding: 10px 19px;
      background: #070707;
    }
  }

  &__close {
    width: 25px;
    height: 25px;
    background-image: url(/img/icon/Close.svg);
    cursor: pointer;
    z-index: 1;

    &:hover {
      opacity: 0.5;
    }
  }

  &__overlay {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(246, 246, 246, 0.99);
  }
}

.register {
  display: none;
  gap: 10px;
  position: fixed;
  top: 118px;
  left: 27.5%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 680px;
    height: 100%;
    border: 2.5px solid #070707;
    padding: 37.5px;
    z-index: 1;

    &--inputs {
      display: flex;
      flex-direction: row;
      gap: 18px;
    }

    &--input {
      display: flex;
      flex-direction: column;
    }

    &--checkbox {
      display: flex;
      flex-direction: row;
      gap: 15px;
      margin-bottom: 20px;
    }
  }

  &__label {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #070707;
    margin-bottom: 6px;
  }

  &__input {
    width: 290px;
    height: 50px;
    border: 2.5px solid #E5E5E5;
    margin-bottom: 20px;

    &--width {
      width: 100%;
    }
  }

  &__checkbox {
    width: 19px;
    height: 19px;
    border: 2px solid #E5E5E5;;
    border-radius: 3px;
  }

  &__btn {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    border: 2.5px solid #070707;
    border-radius: 30px;
    padding: 7.5px 16.5px;
    width: 101px;

    &:hover {
      color: #FFFFFF;
      border: 0;
      padding: 10px 19px;
      background: #070707;
    }
  }

  &__close {
    width: 25px;
    height: 25px;
    background-image: url(/img/icon/Close.svg);
    cursor: pointer;
    z-index: 1;

    &:hover {
      opacity: 0.5;
    }
  }

  &__overlay {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(246, 246, 246, 0.99);
  }
}

.send {
  display: none;
  gap: 10px;
  position: fixed;
  top: 118px;
  left: 28%;
  z-index: 5;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 680px;
    height: 540px;
    border: 2.5px solid #070707;
    padding: 37.5px;
    z-index: 1;

    &--inputs {
      display: flex;
      flex-direction: row;
      gap: 18px;
    }

    &--area {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    &--checkbox {
      display: flex;
      flex-direction: row;
      gap: 15px;
      margin-bottom: 20px;
    }
  }

  &__label {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #070707;
    margin-bottom: 6px;
  }

  &__input {
    width: 290px;
    height: 50px;
    border: 2.5px solid #E5E5E5;
    margin-bottom: 20px;
    margin-top: 6px;
  }

  &__textarea {
    height: 150px;
    border: 2.5px solid #E5E5E5;
    resize: none;
  }

  &__checkbox {
    width: 19px;
    height: 19px;
    border: 2px solid #E5E5E5;
    border-radius: 3px;
  }

  &__btn {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    border: 2.5px solid #070707;
    border-radius: 30px;
    padding: 7.5px 16.5px;
    width: 81px;

    &:hover {
      color: #FFFFFF;
      border: 0;
      padding: 10px 19px;
      background: #070707;
    }
  }

  &__close {
    width: 25px;
    height: 25px;
    background-image: url(/img/icon/Close.svg);
    cursor: pointer;
    z-index: 1;

    &:hover {
      opacity: 0.5;
    }
  }

  &__overlay {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(246, 246, 246, 0.99);
  }
}

.label__star--red {
  color: #EB3617;
}

.open {
  display: flex;
}

.buttonToTop{
  position: fixed;
  right: 100px;
  bottom: 100px;
  background: none;
  border: 0;
  background-image: url(/img/icon/arrow_left.svg);
  transform: rotate(90deg);
  cursor: pointer;
  height: 42px;
  width: 42px;

  &:hover {
    opacity: 0.5;
  }

  &__scroll--hidden {
    display: none;
  }
}

.is-invalid {
  border: 2.5px solid #EB3617;
}

.invalid-feedback {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
  color: #EB3617;
}

.input__margin {
  margin-bottom: 10px;
}

.checkbox__disabled {
  color: #E5E5E5;
}
