<button class="@@margin burger__btn--js"></button>
<ul class="burger undotted">
  <button class="burger__btn--close"></button>
  <li class="burger__item">
    <a href="index.html" class="burger__link burger__item--active">Home</a>
  </li>
  <li class="burger__item">
    <a href="blog.html" class="burger__link">My blog</a>
  </li>
  <li class="burger__item">
    <button class="burger__item--btn" data-modal="signIn">Sign in</button>
  </li>
  <li class="burger__item">
    <button class="burger__item--btn" data-modal="register">Register</button>
  </li>
</ul>
