<footer class="footer">
  <h1 class="footer__title">Contacts</h1>
  <p class="footer__subtitle">Want to know more or just chat? You are welcome!</p>
  <button class="footer__btn">Send message</button>
  <div class="footer__wrapper">
    <a href="#" class="footer__link">Instagram</a>
    <a href="#" class="footer__link">Vk</a>
    <a href="#" class="footer__link">Telegram</a>
    <a href="#" class="footer__link">Mail</a>
    <a href="#" class="footer__link">GitHub</a>
    <a href="#" class="footer__link">Phone</a>
  </div>
  <p class="footer__text">Design by DL Academy</p>
  <p class="footer__text">Program code from Julia</p>
</footer>
