<form name="send" class="send">
  <div class="send__overlay"></div>
  <div class="send__wrapper">
    <div class="send__wrapper--inputs">
      <div class="send__wrapper--input">
        <label for="name" class="send__label">What is your name?<span class="label__star--red"> *</span></label>
        <input type="text" id="name" class="send__input">
      </div>
      <div class="send__wrapper--input">
        <label for="message" class="send__label">Message subject<span class="label__star--red"> *</span></label>
        <input type="text" id="message" class="send__input">
      </div>
    </div>
    <div class="send__wrapper--inputs">
      <div class="send__wrapper--input">
        <label for="email" class="send__label">Your Email<span class="label__star--red"> *</span></label>
        <input type="email" id="email" class="send__input">
      </div>
      <div class="send__wrapper--input">
        <label for="phone" class="send__label">Your mobile phone<span class="label__star--red"> *</span></label>
        <input type="number" id="phone" class="send__input">
      </div>
    </div>
    <div class="send__wrapper--area">
      <label for="textarea" class="send__label">What do you want to discuss with me?</label>
      <textarea id="textarea" class="send__textarea"></textarea>
    </div>
    <div class="send__wrapper--checkbox">
      <input type="checkbox" id="checkbox" class="send__checkbox">
      <label for="checkbox" class="send__label">Clicking on the button, you consent to the processing of your personal data.</label>
    </div>
    <a href="#" type="submit" class="send__btn">Send</a>
  </div>
  <div class="send__close"></div>
</form>
