<form name="register" id="register" class="register modal-js" novalidate>
  <div class="register__overlay" data-close="register"></div>
  <div class="register__wrapper">
    <label for="email" class="register__label">Email<span class="label__star--red"> *</span></label>
    <input name="email" type="email" id="email" class="register__input register__input--width" required>
    <div class="register__wrapper--inputs">
      <div class="register__wrapper--input">
        <label for="name" class="register__label">Name<span class="label__star--red"> *</span></label>
        <input name="name" type="text" id="name" class="register__input" required>
      </div>
      <div class="register__wrapper--input">
        <label for="surname" class="register__label">Surname<span class="label__star--red"> *</span></label>
        <input name="surname" type="text" id="surname" class="register__input" required>
      </div>
    </div>
    <div class="register__wrapper--inputs">
      <div class="register__wrapper--input">
        <label for="password" class="register__label">Password<span class="label__star--red"> *</span></label>
        <input name="password" type="password" id="password" class="register__input" required>
      </div>
      <div class="register__wrapper--input">
        <label for="repeatPassword" class="register__label">Repeat password<span class="label__star--red"> *</span></label>
        <input name="repeatPassword" type="password" id="repeatPassword" class="register__input" required>
      </div>
    </div>
    <div class="register__wrapper--inputs">
      <div class="register__wrapper--input">
        <label for="location" class="register__label">Location<span class="label__star--red"> *</span></label>
        <input name="location" type="text" id="location" class="register__input" required>
      </div>
      <div class="register__wrapper--input">
        <label for="number" class="register__label">Age<span class="label__star--red"> *</span></label>
        <input name="age" type="number" id="number" class="register__input" required>
      </div>
    </div>
    <div class="register__wrapper--checkbox">
      <input type="checkbox" id="checkbox" class="register__checkbox">
      <label name="checkbox" for="checkbox" class="register__label label__disabled">Clicking on the button, you consent to the processing of your personal data.</label>
    </div>
    <button type="submit" class="register__btn" disabled>Sign up</button>
  </div>
  <div class="register__close" data-close="register"></div>
</form>
