<form name="signIn" id="signIn" class="signIn" novalidate>
  <div class="signIn__overlay" data-close="signIn"></div>
  <div class="signIn__wrapper">
    <label for="email" class="signIn__label">Email<span class="label__star--red"> *</span></label>
    <input name="email" type="email" id="email" class="signIn__input" required>
    <label for="password" class="signIn__label">Password<span class="label__star--red"> *</span></label>
    <input name="password" type="password" id="password" class="signIn__input" required>
    <button type="submit" class="signIn__btn">Log in</button>
  </div>
  <div class="signIn__close" data-close="signIn"></div>
</form>
