<header class="header container">
  <a href="index.html" class="header__btn--fatty">Home</a>
  <nav class="header__nav">
    <ul class="header__list undotted">
      <li class="header__item">
        <a href="blog.html" class="header__btn">My blog</a>
      </li>
      <li class="header__item">
        <button class="header__btn header__signIn" data-modal="signIn">Sign in</button>
      </li>
      <li class="header__item">
        <button class="header__btn header__register" data-modal="register">Register</button>
      </li>
    </ul>
  </nav>
</header>
